.rdg-light {
  height: fit-content;
  user-select: none;
  border-color: transparent !important;
  border-right: none;
  border-bottom: none;
  // max-height: 500px;
  // border-radius: 5px;
  // overflow: hidden;
  .rdg-cell {
    border-color: #9eddf4 !important;
  }

  &::before {
    pointer-events: none;
    border-top: 1px solid #9eddf4;
    border-left: 1px solid #9eddf4;
    z-index: 2;
  }
}

.correlation-matrix-table {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tables-gap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cell-selector {
  width: calc(100% - 10px);
  height: 100%;
  border: none;
  position: relative;
  padding: 0 10px;
  background-color: transparent;
  user-select: none;
}
.cell-input {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  position: relative;
  padding: 0 10px;
  user-select: none;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  &:focus {
    border-bottom: 1px solid rgb(0, 153, 255) !important;
  }
}

.scr-counter-part-table {
  .custom-form-field {
    margin-top: 20px;
    display: flex;
    label {
      width: 60%;
      white-space: normal;
    }
  }
}
.df-label-center {
  display: flex;
  align-items: center;
  height: 35px;
}

.cell-text {
  position: relative;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  .tooltip-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
