// buttons

.btn-primary {
  @include button-primary-variant();

  img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
}

.btn-gradient {
  width: 100%;
  height: 45px;
  background: linear-gradient(90.26deg, #0e5fd9 2.2%, #11b4ed 99.02%);
  border-radius: 10px;
  border: 0;
  color: white;
}

.btn-default {
  display: inline-flex;
  align-items: center;
  background: transparent;
  color: black;
  border: 1px solid #95a7ad;
  border-radius: 4px;
  font-family: "Inter-Medium";
  font-size: 14px;
  transition: 0.2s ease-in-out;
  padding: 8px 15px;
  transition-property: color, background-color, border;
}

.pill-button {
  padding: 5px 10px;
  background: #eff4f9;
  border: 1px solid #cdd5e2;
  color: #657590;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  gap: 5px;

  img {
    width: 12px;
    height: 12px;
  }
}

.pill-button.rounded,
.pill-button-highlighted.rounded {
  border-radius: 20px;
}

.pill-button-highlighted {
  padding: 5px 10px;
  border-radius: 2px;
  background: #dbf4fc;
  border: 1px solid #11b4ed;
  color: #657590;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #11b4ed;
}

// sizes

.btn-primary-full-width {
  @include button-primary-variant($width: 100%);
}

// custom dropdown

.dropdown-style-1 {
  height: 45px;
  width: 100%;
  border: 1px solid #57647a;
  border-radius: 10px;
  background: url("../assets/images/arrow-down.png") no-repeat right #f2fbfe;
  -webkit-appearance: none;
  background-size: 12px;
  background-position-x: 95%;
  padding-left: 10px;

  option {
    font-family: "Inter-Regular" !important;
  }
}

.dropdown-style-2 {
  padding: 5px 10px;
  width: 100%;
  border: 1px solid #cdd5e2;
  border-radius: 5px;
  background: url("../assets/images/small-arrow-down-icon.png") no-repeat right
    #eff4f9;
  -webkit-appearance: none;
  background-size: 10px;
  background-position-x: 95%;
  padding-left: 5px;
}

// card style

.card-view {
  width: 100%;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 90px rgba(163, 171, 185, 0.24);
}

.card-padding {
  padding: 15px 20px;
}

// antd table modification style 1

.custom-table-style-1 {
  .ant-table {
    border-radius: 0 0 10px 10px;
  }

  thead {
    .ant-table-cell {
      background-color: #f2fbfe;
      text-transform: uppercase;
      font-weight: 700;
      color: #19202e;
      font-size: 12px;
      &::before {
        display: none;
      }
    }
  }

  tbody {
    .ant-table-row {
      &:last-child {
        td {
          &:first-child {
            border-bottom-left-radius: 10px;
          }
          &:last-child {
            border-bottom-right-radius: 10px;
          }
        }
      }
    }
  }
}

// custom alert

.ant-alert-info {
  border: 0;
  border-radius: 7px;
  background: #dbf4fc;

  .ant-alert-message {
    color: #657590;
    font-size: 12px;
  }
}

// custom tabs

.custom-tabs-wrapper {
  border-radius: 10px 10px 0 0;
  background-color: white;

  .ant-tabs-nav-wrap {
    background-color: #dbf4fc;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
  }
  .ant-tabs-tab:hover {
    color: #0e74dd;
  }

  .ant-tabs-tab.ant-tabs-tab-active {
    .ant-tabs-tab-btn {
      color: #0e74dd;
      font-family: "Inter-Bold";
    }
  }
  .ant-tabs-ink-bar {
    background: #0e74dd;
    height: 3px !important;
    border-radius: 5px 5px 0 0;
  }

  .ant-tabs-tabpane {
    padding: 10px 20px;
  }
}

// custom-form-field

.small-heading {
  color: #19202e;
  font-family: "Inter-Medium";
  margin-bottom: 5px;
  display: inline-block;
  flex-shrink: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.custom-form-field {
  label {
    color: #57647a;
    font-family: "Inter-Medium";
    display: inline-block;
    flex-shrink: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }
  select {
    background-color: transparent !important;
    background-position-x: 97%;
    height: 35px;
    border: 1px solid #d5dbe4 !important;
  }
  .multiple-inputs-wrapper {
    display: flex;
    gap: 10px;
  }

  input {
    background: #ffffff;
    border: 1px solid #d5dbe4;
    height: 35px;
    border-radius: 5px;
    padding: 0 8px;
    width: 100%;
  }
  .input-with-label {
    position: relative;

    p {
      position: absolute;
      top: 8px;
      left: 10px;
      font-size: 12px;
      color: #657590;
    }
    input {
      text-align: right;
    }
  }
}

// custom table style 2

.custom-table-style-2-wrapper {
  border-radius: 10px;
  border: 1px solid #cdd5e2;
  overflow-x: auto;

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border-style: hidden;
    text-align: left;
    overflow-x: auto;

    // display: block;
    // max-height: 300px;
    // overflow-y: scroll;

    th {
      white-space: nowrap;
      overflow: hidden;
    }

    td,
    th {
      position: relative;
      padding: 10px 20px;
      border: 1px solid #cdd5e2;
      font-size: 12px;
      color: #657590;
      font-family: "Inter-Regular";

      input {
        border: none;
        width: 100%;
      }
    }

    .table-row-title {
      color: #57647a;
      font-family: "Inter-Medium";
      margin: 0;
    }
  }
}

// light-grey-bordered

.light-grey-bordered {
  border: 1px solid #d5dbe4;
  border-radius: 10px;
  padding: 20px 10px;
}

//custom-table-style-2-header

.custom-table-style-2-header {
  display: flex;
  overflow-x: auto;

  h5 {
    color: #57647a;
    font-family: "Inter-Bold";
    display: inline-block;
    flex-shrink: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100% !important;
  }
}

// grey text color

.grey-text {
  color: #657590 !important;
  font-family: "Inter-Bold" !important;
  white-space: nowrap;
}
