.page-container {
  height: 100%;
  background-color: $bg-light-grey;
}

.main-layout {
  min-height: 100vh;
}

.auth-layout {
  height: 100vh;
  overflow-y: auto;

  .auth-page-container {
    background-color: #f2fbfe !important;
    display: flex;
    align-items: center;
    background-image: url('../assets/images/background.png');
    background-size: cover;
    padding-left: 15%;

    @media screen and (max-width: 880px) {
      padding-left: 0;
      justify-content: center;

      .auth-landing-image {
        display: none;
      }
    }

    .auth-landing {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50%;
      display: flex;
      justify-content: center;
      overflow: hidden;

      .auth-landing-image {
        width: calc(32vw + 40px);
        object-fit: contain;
        position: absolute;
        margin-top: 16vw;
      }
    }

    .auth-form-container {
      max-width: 400px;
      width: 100%;

      .sigin-logo {
        width: auto;
        height: 70px;
        margin-bottom: 30px;
      }

      .form-field {
        &:not(:last-child) {
          margin-bottom: 20px;
        }

        label,
        label {
          color: #57647a;
        }
      }

      .greetings {
        p {
          margin-bottom: 0;
        }

        h1 {
          font-family: 'Engschrift Caps';
          text-transform: uppercase;
        }
      }

      button {
        margin-top: 30px;
      }
    }
  }


}

.page-layout {
  height: 100%;
}

.sider {
  padding: 20px;

  .-title-content {
    margin-left: 10px;
  }

  .ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background-color: transparent;
  }

  .ant-menu-item {
    svg {
      path {
        fill: #fff !important;
      }
    }
  }

  .ant-menu-item.ant-menu-item-selected {
    background-color: white !important;
    border-radius: 10px;

    span {
      color: #109ce7 !important;
      font-weight: bold;
    }

    svg {

      path,
      rect {
        fill: #109ce7 !important;
      }
    }
  }
}

.logo {
  background-image: url("../assets/images/company-logo-white.png");
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
}

.ant-layout-sider,
.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark {
  background: linear-gradient(90.26deg, #0e5fd9 2.2%, #11b4ed 99.02%);
}

.header-content-container {
  padding: 10px;
  overflow-y: auto;

  &:last-child {
    margin-bottom: 20px;
  }
}

.page-header {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background-color: #19202e;
  color: white;
  margin-bottom: 20px;

  .upper-section {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    height: 35%;

    .actions {
      display: inline-flex;
      gap: 20px;
      align-items: center;

      .language-select {
        span {
          color: #fff;
        }
      }

      span {
        cursor: pointer;
        user-select: none;

        img {
          width: auto;
          height: 7px;
        }
      }

      img {
        width: 17px;
        height: 17px;
        cursor: pointer;
      }
    }
  }

  .bottom-section {
    min-height: 65%;
    background-size: cover;
    background-position-x: right;
    background-image: url("../assets/images/illustration_and_background.png");
    padding: 20px 20px 15px 20px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;

    h2 {
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0;
    }

    .ant-breadcrumb-separator {
      color: #acb5c5;
    }

    .ant-breadcrumb a {
      color: #acb5c5;
      font-size: 11px;
    }
  }
}