.org-chart {
  width: 100%;

  .node-card {
    background-color: #4c4e8d;
    padding: 10px 0;
    text-align: center;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 3px;

    h5,
    p {
      color: white;
      margin: 0;
    }

  
  }
}
